/*Universal selector is used to select everything on the page.*/
* {
    margin:0;
    font-family: "Roboto", sans-serif;
}

.teamMember{
    background: turquoise;
}
/* Id selectors are used for unique content in webpages, so can only be used once in a webpage.*/

#unique-h1{
    background: darkturquoise;
}

.box{
    background: blue;
}
.box h1{
    color: rebeccapurple;

}
.box.active{
    padding: 32px;
}
p, h1 .red{
    padding: 24px;
}